{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Добро пожаловать в Фотоархив</h1>

<p>Фотоархив компании содержит цифровые фотографии и сканы различных документов за длительный период времени. Каждый элемент архива имеет дату оригинального документа и краткое описание. Вы можете искать необходимые элементы по интервалу дат и/или ключевым словам.</p>

<h2>Основные функции:</h2>
<ul>
    <li>Поиск документов по интервалу дат и ключевым словам.</li>
    <li>Просмотр и выгрузка выбранных документов.</li>
    <li>Добавление новых документов в архив.</li>
    <li>Удаление или изменение документов (только для администраторов).</li>
</ul>

<h2>Навигация:</h2>
<ul>
    <li><a href="{% url 'document_search' %}">Поиск документов</a></li>
    <li><a href="{% url 'document_create' %}">Добавить новый документ</a></li>
</ul>


{% endblock %}