/* styles.css */
.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.badge {
    margin-right: 5px;
}

.image-form {
    margin-bottom: 1.5rem;
}

.btn-secondary {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 
.image_holder{
    max-width: 90px;
} */